:root{
    --vermelho: #ff5c19;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    color: var(--vermelho);
    font-family: 'Arial black', Times;
    font-size: 30px;
    margin-left: 5px;
}
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
header nav a :hover{
    color: #fff;
}

/*filme principal*/ 
.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url('/img/dragon-ball-z-1024x630.jpg.webp');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}
.filme-principal .titulo{
    margin-top: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;
}
.botao a:hover{
    text-decoration: none;
    background-color: white;
    color: black;
}
.botao a{
    text-decoration: none;
    color: white;
}

.botao:hover{
    background-color: white;
    color: black;
}
.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}
.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 10px;
}
.item img{
    height: 430px;
}
.carrosel-mangas{
    display: flex;
    overflow-x: scroll;
    

}
.carrosel-mangas::-webkit-scrollbar{
    background: rgb(228, 86, 21);
}
.carrosel-mangas .carrosel{
    display: flex;
    
}
.carrosel-mangas .carrosel .item{
    margin: 5px;
    cursor: pointer;
}
.carrosel::webkit-scrollbar{
    background: rgba(0,0,0,.50);
}
.carrosel-mangas::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,.50);
    border-radius: 5px;

}
.grid-itens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-itens .item{
    margin: 5px;
}
.segundo-texto{
    margin-left: 15px;
}

